# Compiled executables
*.exe
*.out
*.app

# Object files
*.o
*.obj

# Static/Dynamic libraries
*.a
*.lib
*.so
*.dll
*.dylib

# Visual Studio Code
.vscode/

# Visual Studio
.vs/

# JetBrains (CLion)
.idea/

# macOS
.DS_Store

# Windows
Thumbs.db

# Log files
*.log

Debug/
Release/
x64/
*.pdb

# Temporary files
*.tmp
*.temp

# Backup files
*.bak
*~